<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @profile.title %>
</p>

<p>
  <b>Description:</b>
  <%= @profile.description %>
</p>

<p>
  <b>Sponsor:</b>
  <%= @profile.sponsor %>
</p>

<p>
  <b>Video:</b>
  <%= raw(@profile.video) %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
