<p id="notice"><%= notice %></p>

<div>
  <span>Name: </span>
  <span><%= @user.name %></span>
</div>
<div>
  <span>Email: </span>
  <span><%= @user.email %></span>
</div>
<div>
  <span>Weibo-Auth-Uid: </span>
  <span><%= @user.authorizations.find_by_provider("weibo").try(:uid) %></span>
</div>
<%= link_to '编辑用户', edit_user_path(@user) %> |
<%= link_to '查看所有用户', users_path %>
