<p id="notice"><%= notice %></p>

<div>
  <span>姓名: </span>
  <span><%= @user.name %></span>
</div>
<div>
  <span>邮箱: </span>
  <span><%= @user.email %></span>
</div>
<div>
  <span>微博uid: </span>
  <span><%= @user.weibo_id %></span>
</div>
<%= link_to '编辑用户', edit_cpanel_user_path(@user) %> |
<%= link_to '查看所有用户', cpanel_users_path %>
