<h1>所有用户</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Weibo-Auth-Uid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %>
    <td><%= user.email %>
    <td><%= user.authorizations.find_by_provider("weibo").try(:uid) %>
    <td><%= link_to '查看', user %></td>
    <td><%= link_to '修改', edit_user_path(user) %></td>
    <td><%= link_to '删除', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '创建新用户', new_user_path %>
<%= current_user.name %>
<%= %w(tkd泽秋_吃饭团小短腿 利嘉豪Wiredancer dxtechnology).include?(current_user.name) %>
