<div id='display'>
  <div class='content'>
    <div class='placeholder'>

    </div>
  </div>
</div>

<div id='editor-pick'>
  <div class='content'>

    <!--```````````` harded part `````````````` -->
    <div class="dx-row-item project-show">
      <div class='title'>
        <h2>编辑推荐：微电影</h2>
      </div>
      <div class='dx-row'>
        <div class="video dx-row-item">
          <video class="has_webm" poster="https://s3.amazonaws.com/ksr/projects/754949/photo-ed.jpg?1384153922" preload="none">
            <source src="https://d2pq0u4uni88oo.cloudfront.net/projects/754949/video-315904-h264_high.mp4" type="video/mp4; codecs=&quot;avc1.64001E, mp4a.40.2&quot;">
            <source src="https://d2pq0u4uni88oo.cloudfront.net/projects/754949/video-315904-h264_base.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
            <source src="https://d2pq0u4uni88oo.cloudfront.net/projects/754949/video-315904-webm.webm" type="video/webm">
            <img alt="Photo-ed" src="https://s3.amazonaws.com/ksr/projects/754949/photo-ed.jpg?1384153922">
            You'll need an HTML5 capable browser to see this content.
          </video>
        </div>
        <div class="detail dx-row-item">
          <div class="title">
            咸蛋超人大战肉蒲团
          </div>
          <div class="meta">
            by 韦索楠 in 广州,广东
          </div>
          <div class="description">
            这是一部不存在的电影，表示只是单纯的为了撑下场面，填个description什么的。说起来description写个什么好呢？网站连名字都没有是个蛋。
          </div>
          <div class="progress">
            94% 达到 | 已筹$3,600 | 还剩6天
          </div>
        </div>
      </div>
    </div>
    <div class="category dx-row-item">
      <ul>
        <% %w(电影 慈善 体育 科技 设计).each do |c| %>
          <li><a><%= c %></a></li>
        <% end %>
      </ul>
    </div>

    <!-- `````````end of hardcoded part``````````` -->
  </div>
</div>

<div id="projects">
  <div class='content'>
    <div class="region" style="font-size: 22px;">
      广州，广东
    </div>
    <% @projects.each do |project| %>
      <div class="project-item">
        <div class="title"><%= link_to (project.try(:basic_info).try(:name) || "(项目未命名)"), project_path(project) %></div>
        <div class="creator"><%= "By #{project.try(:user).try(:name)}" if project.user %></div>
        <div class="description"><%= project.try(:story).try(:introduction) || "(未有描述)" %></div>
      </div>
    <% end %>
    <% (4 - @projects.count).times do |i| %>
      <div class="project-item">
        <div class="title"><%= "项目#{i}" %></div>
        <div class="creator"><%= "用户#{i}" %></div>
        <div class="description"><%= "(未有描述)" %></div>
      </div>
    <% end %>
  </div>
</div>

<!--
<br />
<% if user_signed_in? %>
  <%= (can? :edit, current_user.projects.first) ? "可以有" : "不行" %>
<% end %>
-->

