
<div class="project">
  <div class="pull-left project-text">
    <h2 class="title"><i><%= @project.try(:basic_info).try(:name) %></i></h2>
    <blockquote class="row description"><%= @project.try(:story).try(:introduction) %></blockquote>
    <div class="weibo-user">
      <% if @weibo_user %>
        <% content_for :weibo_user do %>
          <span class="weibo-user">
            <%= image_tag(@weibo_user['profile_image_url']) %>
            <%= link_to @weibo_user['screen_name'], "http://weibo.com/#{@weibo_user['id']}" %>
          </span>
        <% end %>
      <% end -%>
    </div>
    <div class="row power"> <%= "Powered BY: "%><%= @project.try(:sponsor).try(:name) %></div>
  </div>
  <div class="pull-left project-video"></div>
</div>

<div class="dx-container">
  <span><%= link_to "所有项目", projects_path %></span>
  <span><%= link_to "新建项目", new_project_path %></span>
  <% if current_user && %w(tkd泽秋_吃饭团小短腿 利嘉豪Wiredancer dxtechnology).include?(current_user.name) %>
    <span><%= link_to "所有用户", users_path %></span>
  <% end %>
</div>
<div class="clearfix"></div>

<!-- mock status -->
<% if @status %>
<div style="margin-top: 20px;">
  <div style="border: 1px solid #000; width: 600px;">
    <p><%= @status["user"]["screen_name"] %></p>
    <p><%= @status["text"] %></p>
    <span><%= "转发(#{@status["reposts_count"]})" %></span>
    <span><%= "评论(#{@status["comments_count"]})" %></span>
  </div>
</div>
<% end %>

