
<div class="profile">
  <div class="pull-left profile-text">
    <h2 class="title"><i><%= @profile.try(:title) %></i></h2>
    <blockquote class="row description"><i><%= @profile.try(:description) %></i></blockquote>
    <div class="weibo-user">
      <% if @weibo_user %>
        <% content_for :weibo_user do %>
          <span class="weibo-user">
            <%= image_tag(@weibo_user['profile_image_url']) %>
            <%= link_to @weibo_user['screen_name'], "http://weibo.com/#{@weibo_user['id']}" %>
          </span>
        <% end %>
      <% end -%>
    </div>
    <div class="row power"> <%= "Powered BY: "%><%= @profile.try(:sponsor) %></div>
  </div>
  <div class="pull-left profile-video"><%= raw(@profile.try(:video)) %></div>
</div>

<div class="clearfix"></div>
<div class="link">
  <div class="dx-container">
    <%= link_to "查看更多...", profiles_path %>
  </div>
</div>

<!-- mock status -->
<div style="margin-top: 20px;">
  <div style="border: 1px solid #000; width: 600px;">
    <p><%= @status["user"]["screen_name"] %></p>
    <p><%= @status["text"] %></p>
    <span><%= "转发(#{@status["reposts_count"]})" %></span>
    <span><%= "评论(#{@status["comments_count"]})" %></span>
  </div>
</div>
