<div class="dx-container">
  <div class="project-title info">
    <h1>欢迎来到你的新项目</h1>
    <p>给它一个名字，图片和其他细节</p>
  </div>
</div>

<div class="dx-container">
  <%= form_for @project, builder: DxFormBuilder do |f| %>
    <% if @project.errors.any? %>
      <fieldset id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </fieldset>
    <% end %>
    <%= f.fields_for :basic_info do |info| %>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= info.label :photo, '项目图片' %>
          <%= info.file_field :photo %>
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= info.label :name, '项目名称' %>
          <%= info.text_field :name %>
          <%= info.hint :name, text: "你的项目名称应该尽量简单，易记。。。" %>
          <!--<p>你的项目名称应该尽量简单，易记。。。</p>-->
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= f.label :category_id, '分类' %>
          <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]}, class: 'category' %>
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= info.label :slogan, '宣传语' %>
          <%= info.text_area :slogan, rows: 3 %>
          <%= info.hint :slogan, text: "如果用一条微博概括你的项目，你会怎么写" %>
          <!--<p>如果用一条微博概括你的项目，你会怎么写</p>-->
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= f.label :region_id, '项目地区' %>
          <%= f.select :region_id, Region.all.collect {|c| [c.name, c.id]}, { include_blank: true }, class: 'region' %>
        </div>
      </fieldset>
      <fieldset class="field">
        <legend>公众募集持续时间</legend>
        <div class="fieldset-inner">
          <%= info.label :duration_days, "天数" %>
          <%= info.text_field :duration_days %>
          <%= info.hint :duration_days, text: "我们推荐项目持续时间少于30天。越短的时间通常有越高的成功率，因为这会形成一种对于该项目的紧迫感。"%>
          <!--<p>我们推荐项目持续时间少于30天。越短的时间通常有越高的成功率，因为这会形成一种对于该项目的紧迫感。</p>-->
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= info.label :raise_type, '募集类型' %>
          <%= info.select :raise_type, project_raise_type_options %>
          <%= info.text_field :amount, original: true, style: "width: 300px;" %>
          <span id="raise_type_unit">
            <% if info.object.raise_type == ProjectBasicInfo::RAISE_TYPE[:volunteer][:weight] %>
              <span style="display:none">元</span>
              <span>人</span>
            <% else %>
              <span>元</span>
              <span style="display:none">人</span>
            <% end %>
          </span>
        </div>
      </fieldset>
    <% end %>
    <%= hidden_field_tag 'step', 'info' %>
    <%= hidden_field_tag 'next', 'story' %>
    <div class="actions">
      <%= submit_tag '保存' %>
    </div>
  <% end %>
</div>

