<div class="dx-container">
  <div class="project-title user">
    <h1>现在让我们来认识一下你</h1>
    <p>告诉大家你是谁！关于你的网页链接也是很有用的。</p>
  </div>
</div>
<div class="dx-container project-edit-form">
  <%= form_for @project, builder: DxFormBuilder, :method => :put do |f| %>
    <% if @project.errors.any? %>
      <fieldset id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </fieldset>
    <% end %>

    <%= f.fields_for :owner do |owner| %>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= owner.label :avatar, '个人照片' %>
          <%= owner.file_field :avatar %>
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= owner.label :name, '姓名' %>
          <%= owner.text_field :name %>
          <div class="clearfix"></div>
          <%= owner.label :id_card_num, '身份证' %>
          <%= owner.text_field :id_card_num %>
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= owner.label :introduction, '个人介绍' %>
          <%= owner.text_area :introduction, rows: 5 %>
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= owner.label :website_url, '个人网页' %>
          <%= owner.text_field :website_url %>
          <%= owner.hint :website_url, text: "这些网页应该有助于支持者和商家更好的了解你，明白你为什么有能力来完成你的这个项目。你的个人主页，微博，以前做过的工作都会有帮助哦~" %>
        </div>
      </fieldset>
    <% end %>
    <div class="actions">
      <%= submit_tag '保存' %>
    </div>
    <%= hidden_field_tag "step", "owner" %>
    <%= hidden_field_tag "next", "submit" %>
  <% end %>
</div>

<%= link_to "上一步", edit_project_path(@project, { step: 'story' })  %>
