<div class="dx-container">
  <div class="title">
    <h1>这不仅仅是一个项目，而是一个故事</h1>
    <p>通过一个视频来讲述吧。它不需要很高端大气上档次，只要是真实的你</p>
  </div>
</div>
<div class="dx-container project-edit-form">
  <%= form_for @project, :method => :put do |f| %>
    <% if @project.errors.any? %>
      <fieldset id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </fieldset>
    <% end %>

    <%= f.fields_for :story, builder: DxFormBuilder do |story| %>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= story.label :video_url, '项目视频' %>
          <%= story.text_field :video_url %>
          <%= story.hint :video_url, text: '用一个视频去介绍你的项目会大大提高你的成功率。它不需要是一个奥斯卡级别的电影，只需要是你，还有解释你要做什么' %>
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= story.label :introduction, '项目介绍' %>
          <%= story.cktext_area :introduction, rows: 5 %>
        </div>
      </fieldset>
      <fieldset class="field">
        <div class="fieldset-inner">
          <%= story.label :risk, '风险与挑战' %>
          <%= story.hint :risk, text: ['askdljgalgjas;kaalsfhlkadsjlasl', 'asldaklsdjasdlfjaslkjgdklajg', 'asjsadljglkjkljsdg;alskjg'] %>
          <div class="clearfix"></div>
          <%= story.text_area :risk, rows: 5 %>
        </div>
      </fieldset>
      <fieldset>
        <%= story.label :faq, '项目FAQ' %>
        <%= story.hint :faq, text: '项目发布之后你可以添加FAQ' %>
      </fieldset>
    <% end %>

    <div class="actions">
      <%= submit_tag '保存' %>
    </div>
    <%= hidden_field_tag "step", "story" %>
    <%= hidden_field_tag "next", "owner" %>
  <% end %>
</div>

<%= link_to "上一步", edit_project_path(@project, { step: 'info' }) %>
