<%= render "banner" %>
<% if not params[:step].present? %>
  <%= render 'info_edit' %>
<% else %>
  <%= render "#{params[:step]}_edit" %>
<% end %>

<div class="dx-container">
  <%= link_to '查看当前项目', @project %> |
  <%= link_to '查看所有项目', projects_path %>
</div>
