<div class="dx-container project">
  <div class="title">
    <h1><%= @project.try(:name) || "项目名称" %></h1>
    <p>由<%= @project.try(:owner_name) || "免费午餐团队" %>发起</p>
  </div>

  <div class="meta">
    <!-- FIXME WITH ICONS! -->
    <span>地区：<%= @project.try(:region_name) || 'xx省xx市' %></span>
    <span>类别：<%= @project.try(:category_name) || "公益 教育" %></span>
  </div>

  <div class="content">
    <div class="pull-left information dx-u-7-10">
      <div class='wrap'>
        <div class="video row">
          <!-- FIXME WITH REAL VIDEO! -->
          <iframe height=596 width=620 src="http://player.youku.com/embed/XMzk1NjM4MzMy" frameborder=0 allowfullscreen></iframe>
        </div>
        <div class="description row">
          <%= @project.try(:introduction) %>
        </div>
      </div>
    </div>
    <div class="pull-left sns-share dx-u-3-10">
      <div class='wrap'>
        <div class="row">还差<span class="share-count">38个分享</span></div>
        <div class="row">该项目就可进入公共筹集</div>
        <div class="row">离结束还有<span class="day-count">23天</span></div>
        <div class="row">
          <%= render  :partial => "common/weibo_share_button",
                      :locals  => {
                        :url      => request.original_url,
                        :pic_url  => "http%3A%2F%2Fstatic.youku.com%2Findex%2Fimg%2Fheader%2Fyklogo.png",
                        :tag      => "东西科技", # slogan?
                        :text     => @project.try(:basic_info).try(:name),
                      }
          %>
        </div>
      </div>
    </div>
  </div>

<!--<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>-->

<!--<% if @status %>
<di- style="margin-top: 20px;">
  <div style="border: 1px solid #000; width: 600px;">
    <p><%= @status["user"]["screen_name"] %></p>
    <p><%= @status["text"] %></p>
    <span><%= "转发(#{@status["reposts_count"]})" %></span>
    <span><%= "评论(#{@status["comments_count"]})" %></span>
  </div>
</div>
<div>
  <%= text_area_tag "status", nil, size: '70x3' %>
  <%= hidden_field_tag "access_token", ENV["WEIBO_ACCESS_TOKEN"] %>
  <%= hidden_field_tag "uid", @status["mid"] %>
  <%= button_tag "转发此微博", type: 'button', id: 'repost' %>
  <%= check_box_tag 'is_comment', true %>评论给当前微博
</div>
<% end %>-->

<%= content_for :weibo_meta do %>
  <meta property="og:type" content="webpage" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="<%= @project.try(:basic_info).try(:name) %>" />
  <meta property="og:description" content="<%= @project.try(:story).try(:introduction).try(:strip) %>" />
  <meta property="og:image" content="<%= @project.try(:basic_info).try(:photo) %>" />
  <meta name="weibo:webpage:create_at" content="2013-11-07 09:12:56 +0800" />
  <meta name="weibo:webpage:update_at" content="2013-11-07 10:30:16 +0800" />
<% end %>
<div class="statuses">

</div>

<!--<script>
  $(function() {
    $.ajax({
      url: "https://api.weibo.com/2/statuses/mentions.json",
      data: {
        access_token: "2.00_aF2OEqRXAtC2fd33143edtCrzSE",
      },
      dataType: "jsonp",
      type: "GET"
    }).done(function(data) {
      var statuses = data["data"]["statuses"];
      console.log(statuses[0])
      $.each(statuses, function(key, value) {
        $text = $('<span></span>', {
          text: "mid:" + value["mid"],
        });
        $user = $('<span></span>', {
          text: "   name:" + value["user"]["name"],
        });
        $('<div></div>').append($text).append($user).appendTo(".statuses")
      })
    });
  })
</script>-->
