<p>
  <b>Name:</b>
  <%= @project.basic_info.name %>
</p>

<p>
  <b>Slogan:</b>
  <%= @project.basic_info.slogan %>
</p>

<p>
  <b>Introduction:</b>
  <%= @project.story.introduction %>
</p>

<p>
  <b>Risk:</b>
  <%= @project.story.risk %>
</p>
<div>
  <%= image_tag @project.basic_info.photo.url(:normal) if @project.try(:basic_info).try(:photo).nil? %>
</div>
<div>
  <%= image_tag @project.owner.avatar.url(:normal) unless @project.try(:owner).try(:avatar).nil? %>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
