<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Slogan:</b>
  <%= @project.slogan %>
</p>

<p>
  <b>Introduction:</b>
  <%= @project.introduction %>
</p>

<p>
  <b>Risk:</b>
  <%= @project.risk %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
