<div class="dx-container project">
  <div class="title">
    <%= render_project_name(@project) %>
  </div>

  <div class="meta">
    <!-- FIXME WITH ICONS! -->
    <span>地区：<%= @project.try(:region_name) || 'xx省xx市' %></span>
    <span>类别：<%= @project.try(:category_name) || "公益 教育" %></span>
  </div>

  <div class="content">
    <div class="pull-left information dx-u-7-10">
      <div class='wrap'>
        <%= render_story_and_info(@project) %>
      </div>
    </div>
    <div class="pull-left sns-share dx-u-3-10">
      <div class='wrap'>
        <%= image_tag @project.owner_avatar.try(:url, :normal) %>

        <div class="row">还差<span class="share-count">38个分享</span></div>
        <div class="row">该项目就可进入公共筹集</div>
        <div class="row">离结束还有<span class="day-count">23天</span></div>

        <%= render :partial => "progress", locals: { project: @project } %>
        <%= render_project_weibo(@project) %>
        <!-- TODO: remind user to fill in the form -->
        <div class="row">
          <% if user_signed_in? %>
              <%= link_to "捐款支持", 'http://me.alipay.com/allenfantasy', target: '_blank' %>
              <% if volunteer?(@project) %>
                <%= link_to "退出志愿者报名", "", id: "remove_volunteer" %>
                <%= link_to "成为志愿者", "", id: "add_volunteer", style: "display:none;" %>
              <% else %>
                <%= link_to "成为志愿者", "", id: "add_volunteer" %>
                <%= link_to "退出志愿者报名", "", id: "remove_volunteer", style: "display:none;" %>
              <% end %>
              <%= render :partial => "donate_form", locals: { project: @project } %>
          <% else %>
            <%= link_to "登录后支持", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- 已有的评论 -->
    <% if @project.comments.any? %>
    <div id="comments" class="pull-right dx-u-3-10">
      <div class="total row">共收到<%= @project.comments_count %>条评论</div>
      <div class="items row">
        <%= render :partial => "comments/comment", :collection => @project.comments %>
      </div>
    </div>
    <% end %>
    <!-- 新添评论 -->
    <div id="comment" class="pull-left dx-u-7-10">
      <%= form_for(Comment.new, url: project_comments_path(@project)) do |f| %>
        <%= f.text_area :body, rows: 4 %>
        <%= hidden_field_tag 'project_id', @project.id %>
        <div class="submit_buttons">
          <%= f.submit '发表评论' %>
        </div>
      <% end %>
    </div>
  </div>

<!--<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>-->

<%= content_for :weibo_meta do %>
  <%= render_project_weibo_meta(@project) %>
<% end %>
