<div class="dx-container project">
  <div class="title">
    <h1><%= @project.try(:name) || "项目名称" %></h1>
    <p>由<%= @project.try(:owner_name) || "免费午餐团队" %>发起</p>
  </div>

  <div class="meta">
    <!-- FIXME WITH ICONS! -->
    <span>地区：<%= @project.try(:region_name) || 'xx省xx市' %></span>
    <span>类别：<%= @project.try(:category_name) || "公益 教育" %></span>
  </div>

  <div class="content">
    <div class="pull-left information dx-u-7-10">
      <div class='wrap'>
        <%= render_project_video(@project) %>
        <%= render_project_introduction(@project) %>
      </div>
    </div>
    <div class="pull-left sns-share dx-u-3-10">
      <div class='wrap'>
        <%= render_project_status(@project) %>
        <%= render_project_weibo(@project) %>
        <% if user_signed_in? %>
        <!-- TODO: remind user to fill in the form -->
        <!-- WARNING: how to know whether the user fill-in the form but didn't donate actually? -->
          <%= render_donate_box(@project) %>
          <%= render_donate_form(@project) %>
        <% end %>
      </div>
    </div>
    <!-- 已有的评论 -->
    <% if @project.comments.any? %>
    <div id="comments" class="pull-right dx-u-3-10">
      <div class="total row">共收到<%= @project.comments_count %>条评论</div>
      <div class="items row">
        <%= render :partial => "comments/comment", :collection => @project.comments %>
      </div>
    </div>
    <% end %>
    <!-- 新添评论 -->
    <div id="comment" class="pull-left dx-u-7-10">
      <%= form_for(Comment.new, url: project_comments_path(@project)) do |f| %>
        <%= f.text_area :body, rows: 4 %>
        <%= hidden_field_tag 'project_id', @project.id %>
        <div class="submit_buttons">
          <%= f.submit '发表评论' %>
        </div>
      <% end %>
    </div>
  </div>

<!--<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>-->

<%= content_for :weibo_meta do %>
  <%= render_project_weibo_meta(@project) %>
<% end %>
