<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
<head>
  <title>V梦享</title>

  <%= yield :weibo_meta %>

  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{controller_name}" %>" class="<%= "#{action_name}" %>">

<div id='header'>
  <div class="content">

    <div class='dx-row-item'>
      <h1><%= link_to "梦享", root_path %></h1>
    </div>

    <div class='dx-row-item'>
      <%= link_to projects_path do %>
        <div>
          <p>发现</p>
          <span>感兴趣的项目</span>
        </div>
      <% end %>
    </div>

    <div class='dx-row-item'>
      <%= link_to new_project_path do %>
      <div>
        <p>创建</p>
        <span>一个新项目</span>
      </div>
    <% end %>
    </div>

    <div class='dx-row-item'>
      <%= form_tag search_path do %>
        <%= text_field_tag 'key', nil, size: 40, placeholder: '寻找你感兴趣的项目...' %>
        <span><%= submit_tag '搜索' %>
      <% end %>
    </div>

    <div class='dx-row-item'>
      <%= render "common/user_nav" %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="flash">
  <% flash.each do |type, message| %>
    <%= content_tag(:div, message, :class => "alert-#{type}") %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
