<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
<head>
  <title>Website</title>
  <%= yield :weibo_meta %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name} #{action_name}" %>">

<div class="dx-wrapper">
  <div class="navbar">
    <div class="slogan pull-left" style="width: 100px;">
      <h1><%= link_to "梦享", root_path %></h1>
    </div>
    <div class="pull-left project">
      <div class="item">
        <%= link_to projects_path do %>
          <div>
            <p style="font-size: 20px; line-height: 25px;">发现</p>
            <span>感兴趣的项目</span>
          </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to new_project_path do %>
        <div>
          <p style="font-size: 20px; line-height: 25px;">创建</p>
          <span>一个新项目</span>
        </div>
      <% end %>
      </div>
      <div class="item">
        <%= form_tag search_path do %>
          <%= text_field_tag 'key', nil, size: 40, placeholder: '寻找你感兴趣的项目...' %>
          <span><%= submit_tag '搜索' %>
        <% end %>
      </div>
    </div>
    <div class="pull-right">
    <% if user_signed_in? %>
      <% if current_user.weibo %>
        <%= render :partial => 'layouts/weibo_user', locals: { weibo_user: oauth_retrieve(current_user.weibo_id) } %>
      <% else %>
        <%= current_user.name %>
      <% end %>
      <% "(Admin)"if current_user.has_role?(:admin) %>  |
      <%= link_to '我的项目', my_projects_path %> |
      <%= link_to '用户信息', edit_user_registration_path %> |
      <%= link_to '退出登录', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to '注册', new_user_registration_path %> |
      <%= link_to '登录', new_user_session_path %> |
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to t(".login_with_#{provider.to_s}"), omniauth_authorize_path(resource_name, provider) %><br />
      <% end -%>
    </div>
    <% end -%>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="flash">
  <% flash.each do |type, message| %>
    <%= content_tag(:div, message, :class => "alert-#{type}") %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
