<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="slogan dx-container">
    <h1><%= "欢迎来到DONGXI TECH!" %><h1>
  </div>
</div>

<%= yield %>

</body>
</html>
